@mixin button {
  background-color: null;
  border-color: $smoke;
  border: 2px solid $smoke;
  color: $smoke;
  padding: 5px 20px;
  width: auto;
  border-radius: 10px;
  text-decoration: none;
  margin: 5px;
  &:hover {
    background-color: $smoke;
    color: $dark-gray2;
  }
}
.button {
  @include button;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
