<footer class="footer">
  <a class="footer_item" href="https://www.facebook.com/mee.waash"><i class="fa-brands fa-square-facebook"></i> Facebook.</a>
  <a class="footer_item" href="https://www.linkedin.com/in/m-herka/"><i class="fa-brands fa-linkedin"></i> LinkedIn.</a>
  <a class="footer_item" href="mailto:m.herka@proton.me"><i class="fa-solid fa-envelope"></i> E-mail.</a>
  <a class="footer_item" href="tel:+34647835028"><i class="fa-solid fa-phone"></i> Tel.</a>
   <a class="footer_copyright">&copy; {{ site.time | date: "%Y" }}</a>
</footer>